#app {
    font-family: 'Open Sans', sans-serif;
}

.wrapper section img {
    float: right;
    margin-top: 30px;
    margin-right: 20px;
}

.wrapper .colom {
    padding-top: 60px;
    padding-left: 20px;
    font-size: 50px;
    font-weight: bold;
    color: #47B5FF;
    margin-left: 50px;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
    display: flex;
}

/* a.tbl-login {
    background-color: yellowgreen;
    border-radius: 10px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    margin-left: 30px;
} */

a.tbl-login:hover {
    background: #9CFF2E;
    text-decoration: none;
}

.button {
    display: flex;
    margin-left: 125px;
}

a.tbl-layanan {
    background-color: #47B5FF;
    border-radius: 20px;
    padding-top: 30px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    margin: 0 50px;
}

a.tbl-layanan:hover {
    background: #256D85;
    text-decoration: none;
}

a.tbl-masuk {
    background-color: #47B5FF;
    border-radius: 20px;
    padding: 15px 40px 15px 40px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    /* margin-left: 285px; */
}

a.tbl-masuk:hover {
    background: #256D85;
    text-decoration: none;
}
.kolom {
    padding-top: 60px;
    font-size: 18px;
    color: #3F4E4F;
    display: flexbox;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section h1 {
    padding-top: 100px;
    font-size: 40px;
    font-weight: bold;
    color: #256D85;
    display: flexbox;
    margin-left: 70px;
}

section .img {
    float: left;
    margin: 20px;
}

footer {
    margin-top: 200px;
    text-align: center;
    background-color: gray;
    padding: 20px;
    width: 100%;
}